---
---
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: start;
  padding: 2rem;
}

.team-member {
  width: 100%;
  max-width: 250px;
}

.portrait-wrapper {
  display: contents;
}

.portrait {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  width: 175px;
  max-width: 100%;
  text-decoration: none;
}

.portrait[data-style="small"] {
  width: 100px;
}

.portrait[data-style="tiny"] {
  flex-direction: row;
  gap: 15px;
  width: unset;
  text-align: left;
}

.portrait .icon {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(20px + 10%);
  aspect-ratio: 1 / 1;
  border-radius: 999px;
  background: var(--background);
  box-shadow: var(--shadow);
  transform: translate(14%, 14%);
}

.portrait[data-style="small"] .icon {
  left: -2px;
  top: -2px;
}

.portrait[data-style="tiny"] .icon {
  display: none;
}

.portrait-image {
  width: 100%;
  margin-bottom: 16px; /* leicht kleiner für harmonischen Abstand */
  aspect-ratio: 1 / 1;
  border-radius: 999px;
  object-fit: cover;
  box-shadow: var(--shadow);
}

.portrait[data-style="tiny"] .portrait-image {
  width: 50px;
  margin: 0;
}

.portrait-name {
  font-family: var(--heading);
  font-weight: var(--semi-bold);
}

.portrait-role {
  font-size: small;
  opacity: 90%;
  margin-top: 0.2rem;
}

.portrait-research {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  opacity: 90%;
  font-size: small;
  text-align: center;
}

.portrait-links {
  margin-top: 0.2rem; /* angenehmer kleiner Abstand */
  display: flex;
  justify-content: left;
  gap: 0.5rem; /* schöner gleichmäßiger Abstand */
  flex-wrap: wrap;
}

.portrait[data-style="tiny"] {
  .portrait-role,
  .portrait-research {
    display: none;
  }
}
