{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}

{% if button.link or button.icon or button.text %}
  <div class="button-wrapper">
    <a
      class="button"
      href="{{ button.link | replace: "$LINK", button.link | relative_url }}"
      {% if button.tooltip %}
        data-tooltip="{{ button.tooltip | xml_escape }}"
      {% endif %}
      data-style="{{ include.style }}"
      {% if include.flip %}
        data-flip
      {% endif %}
      aria-label="{{ button.tooltip | default: button.icon | default: "button" | regex_strip }}"
    >
      {% include icon.html icon=button.icon %}
      {% if button.text and button.text != "" %}
        <span>{{ button.text }}</span>
      {% endif %}
    </a>
  </div>

  {% if type == "twitter" %}
    <a href="{{ link }}" target="_blank">
      <img src="{{ "/images/icons/twitter.svg" | relative_url }}" alt="Twitter" width="20">
    </a>
  {% elsif type == "scholar" %}
    <a href="{{ link }}" target="_blank">
      <img src="{{ "/images/icons/scholar.svg" | relative_url }}" alt="Google Scholar" width="20">
    </a>
  {% elsif type == "home-page" %}
    <a href="{{ link }}" target="_blank">
      <img src="{{ "/images/icons/homepage.svg" | relative_url }}" alt="Homepage" width="20">
    </a>
  {% endif %}
{% endif %}

