{% assign real_lookup = include.lookup | default: include.id | default: include.slug %}

{% if real_lookup %}
  {% assign member = site.members
    | where_exp: "m", "m.slug == real_lookup or m.id == real_lookup or m.name contains real_lookup"
    | first
  %}
{% else %}
  {% assign member_from_data = site.members
    | where: "slug", include.id
    | first
  %}
  {% if member_from_data %}
    {% assign member = member_from_data %}
  {% else %}
    {% assign member = include %}
  {% endif %}
{% endif %}


<div class="citation-container">
  <div class="citation">
    {% if include.style == "rich" %}
      <a
        {% if citation.link %}
          href="{{ citation.link | relative_url | uri_escape }}" target="_blank"
        {% endif %}
        class="citation-image"
        aria-label="{{ citation.title | default: "citation link" | regex_strip }}"
      >
        <img
          src="{{ citation.image | relative_url | uri_escape }}"
          alt="{{ citation.title | default: "citation image" | regex_strip }}"
          loading="lazy"
          {% include fallback.html %}
        >
      </a>
    {% endif %}

    <div class="citation-text">
      {% assign type = site.data.types[citation.type] %}
      {% include icon.html icon=type.icon %}

      <a
        {% if citation.link %}
          href="{{ citation.link | relative_url | xml_escape }}" target="_blank"
        {% endif %}
        class="citation-title"
      >
        {{ citation.title | default: "[no title info]" }}
      </a>

      <div
        class="citation-authors"
        {% if citation.authors.size > 10 %}
          data-tooltip="{{ citation.authors | join: ", " | xml_escape }}"
        {% endif %}
        tabindex="0"
      >
        {{
          citation.authors
          | join: "," 
          | split: "," 
          | array_carve: 5 
          | join: ", "
          | markdownify 
          | remove: "<p>" | remove: "</p>"
          | default: "[no author info]"
        }}
      </div>

      {% if citation.awards.size > 0 or citation.repo %}
        <div class="citation-awards">
          {% include awards.html awards=citation.awards repo=citation.repo %}
        </div>
      {% else %}
        <p>No award found</p>
      {% endif %}


      <div class="citation-details">
        <span class="citation-publisher">
          {{- citation.publisher | default: "[no publisher info]" -}}
        </span>
        &nbsp;·&nbsp;
        <span class="citation-date">
          {{- citation.date | default: "[no date info]" | date: "%d %b %Y" -}}
        </span>
        &nbsp;·&nbsp;
        <span class="citation-id">
          {{- citation.id | default: "[no id info]" -}}
        </span>
      </div>

      {% if include.style == "rich" %}
        {% if citation.description %}
          <div class="citation-description">
            {{
              citation.description
              | markdownify
              | remove: "<p>"
              | remove: "</p>"
            }}
          </div>
        {% endif %}

        {% if citation.buttons.size > 0 %}
          <div class="citation-buttons">
            {% for button in citation.buttons %}
              {% 
                include button.html 
                type=button.type 
                icon=button.icon 
                text=button.text 
                link=button.link 
                style="bare"
              %}
            {% endfor %}
          </div>
        {% endif %}

        {% if citation.tags.size > 0 or citation.repo %}
          <div class="citation-tags">
            {% include tags.html tags=citation.tags repo=citation.repo %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
